@page
@model eLoopV2.Pages.Leases.Index1Model
@{
}
<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tesla</td>
            <td>Model S</td>
            <td>2022</td>
            <td>01/01/2023</td>
            <td>01/08/2023</td>
            <td>$1000</td>
        </tr>
        <tr>
            <td>BMW</td>
            <td>i3</td>
            <td>2021</td>
            <td>01/15/2023</td>
            <td>01/22/2023</td>
            <td>$750</td>
        </tr>
    </tbody>
</table>