@page
@model eLoopV2.Pages.ElectricCars.Details1Model
@{
}
<div>
  <h1>Car Details</h1>
  <p>Make: Tesla</p>
  <p>Model: Model S</p>
  <p>Year: 2022</p>
  <p>Color: Red</p>
  <p>VIN: 1234567890</p>
  <p>Battery Capacity: 100 kWh</p>
  <p>Charging Time: 1 hour</p>
  <p>Plate Number: ABC123</p>
  <p>Is Available: Yes</p>
  <p>Location: Downtown</p>
  <a href="/reservations" class="btn btn-primary">Make a Reservation</a>
</div>
